.box {
  position         : absolute;
  top              : 100px;
  left             : 80px;
  width            : 85%;
  border-radius    : 0px 20px 20px 0px;
  min-height       : 800px;
  border           : 1px solid black;
  margin           : 0px 0px 0px 20px;
}

.label {
  position         : relative;
  left             : -97px;
  border-radius    : 15px 15px 0px 0px;
  transform        : rotate(-90deg);
  width            : 120px;
  height           : 31px;
  min-height       : 0px;
  border-style     : solid solid none solid;
}

.labeltext {
  position         : relative;
  width            : 115px;
  top              : 12px;
  text-align       : center;
}

.content {
  position         : relative;
  top              : -10px;
  padding          : 10px;
}

.box1 {
  background-color : silver;
  z-index          : 10;
}

.label1 {
  position         : relative;
  top              : 35px;
}
 
.box2 {
  background-color : lightblue;
  z-index          : 9;
}

.label2 {
  position         : relative;
  top              : 145px;
}

.box3 {
  background-color : beige;
  z-index          : 8;
}

.label3 {
  position         : relative;
  top              : 255px;
}

.label:hover {
  z-index          : 99;
}

